.nav-a {
  font-size: 0.7rem !important;
  font-weight: bold !important;
  color: black;
}

.toggler-outline {
  border: 0;
}

.img-stretch {
  width: 100%;
}

.card-bg {
  background-color: rgb(230, 246, 255);
}