@media (max-width: 1555px) {   /*화면이 작을때 */
  .navbar-large{
    display: none;
  }
}
@media (min-width: 1555px) {    /*화면이 클때 */
  .navbar-small{
    display: none;
  }

  /* .content {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
  } */
}
.banner_box {
  width:100vw;
}
.banner_img {
  background-image: url("../../image/banner_no_text.webp");
  background-size:contain;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top : 5rem;
  max-width:1920px;
  max-height: 860px;
  width: 100vw;
  height:44vw;
  /* background-repeat: no-repeat; */
}
.middle_nav_blank {
  width:200px;
}
.nav-item>a:hover{
  color:white;
  background-color: black;
}
.navbar-hover-list{
  list-style: none;
  margin-top: 3rem;
  font-weight: 700;
  z-index: 1;
}
.navbar-hover-list-item {
  padding-top: 1rem;
}
.navbar-hover-list-item-line {
  width:10rem;
}
.hvr_hide {
  position: fixed;
  left:0; 
  display:none;
  width:100vw;
  padding-left: 2rem;
  padding-bottom: 2rem;
  background-color: whitesmoke;
}
.hvr_1:hover .hvr_1_list {
  display: block;
}
.hvr_2:hover .hvr_2_list {
  display: block;
}
.hvr_4:hover .hvr_4_list {
  display: flex;
}
.hvr_6:hover .hvr_6_list {
  display: block;
}
.hvr_8:hover .hvr_8_list {
  display: flex;
}
.hvr_9:hover .hvr_9_list {
  display: block;
}
.hvr_10:hover .hvr_10_list {
  display: flex;
}
.hvr_11:hover .hvr_11_list {
  display: block;
}



.entrance_btn {
  color:rgba(0,0,0,100);
  padding:5px 25px;
  font-weight: 800;
  margin-top: 15px;
}
.event_section{
  width:100vw;
}
.event_content{
  margin-right: 3px;
  width: 100%;
  background-image: url("../../image/part2_bg.jpg");
  max-width:1920px;
  background-size:cover;
  background-repeat: no-repeat;
}
.event_title {
  font-size: 20vw;
}
.card_group {
  width:100%;
}
.card_set {
  width:25rem;
}
.sign_up {
  margin-top: 15px;
}
.student_btn {
  width:5rem;
}
.banner_box_3 {
  border:2px;
  border-style: solid;
  border-color: blue;
  border-radius: 15px;
  width:76rem;
}
.certification_caution {
  font-size: 35px;
  font-weight: 700;
}
.certification_question {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -3px;
}
.certification_answer {
  font-size: 18px;
  letter-spacing : -2px;
}
.certification_ready {
  font-weight: bold;

}
.intro_banner_end {
  line-height: 10px;
}